<footer>
    <div class="contenedor-textos">
        <p>© 2024 PROYECTO GEMA. Todos los derechos reservados.</p>
        <p>Carretera a Santa Tecla km. 11, La Libertad, El Salvador C.A.</p>
    </div>
    <div class="contenedor-enlaces">
        <div class="red-social">
            <a href=""><i class="fa-regular fa-envelope"></i></a>
        </div>
        <div class="red-social">
            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <div class="red-social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
        </div>
        <div class="red-social">
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div class="red-social">
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <div class="red-social">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    
</footer>