<main>
    <div class="panel-lateral">
        <h3>Categrías</h3>
        <ul>
            <li><a href="#">Programación Básica</a></li>
            <li><a href="#">Introducción al Inglés</a></li>
            <li><a href="#">Electrónica para Principiantes</a></li>
            <li><a href="#">Matemáticas para Ciencias de la Computación</a></li>
            <li><a href="#">Diseño Gráfico</a></li>
            <li><a href="#">Marketing Digital</a></li>
            <li><a href="#">Historia de la Informática</a></li>
            <li><a href="#">Robótica Avanzada</a></li>
            <li><a href="#">Fotografía Digital</a></li>
            <li><a href="#">Análisis de Datos</a></li>
            <li><a href="#">Desarrollo Web</a></li>
            <li><a href="#">Inteligencia Artificial</a></li>
            <li><a href="#">Gestión de Proyectos</a></li>
            <li><a href="#">Técnicas de Presentación</a></li>
            <li><a href="#">Preparación para Exámenes</a></li>
        </ul>
    </div>
    <div class="secciones">
        <div class="parte-superior-cursos">
            <h1>Programación Básica</h1>
            <div class="buscar">
                <input type="text" placeholder="Buscar"/>

                <div class="btn">
                    <i class="fas fa-search icon searchbar"></i>
                </div>
            </div>
        </div>
        <hr>
        <div class="contenedor-cursos">
            <div class="curso">
                <h1>Curso 1</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <img src="/cursos/java.png">
                
                <div class="opciones-cursos">
                    <div class="aniadir-carrito">
                        <div class="texto">
                            <h3>Agregar al carrito</h3>
                        </div>
                        <div class="icono">
                            <i class='bx bx-cart-alt' ></i>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="curso">
                <h1>Curso 2</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <img src="/cursos/csharp.jpg">

                <div class="opciones-cursos">
                    <div class="aniadir-carrito">
                        <div class="texto">
                            <h3>Agregar al carrito</h3>
                        </div>
                        <div class="icono">
                            <i class='bx bx-cart-alt' ></i>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="curso mas-cursos">
                <h2>Mas cursos</h2>
                <i class='bx bx-plus-circle' ></i>
            </div>
        </div>
    </div>
</main>