<div class="pagina-layout">
    <div class="panel-lateral">
        <div class="categorias">
            <span>Categorías</span>
            <div class="card__container">
                <p class="element active">Programación Básica</p> 
                <p class="element">Introducción al Inglés</p> 
                <p class="element">Electrónica para Principiantes</p> 
                <p class="element">Matemáticas para Ciencias de la Computación</p> 
                <p class="element">Diseño Gráfico</p> 
                <p class="element">Marketing Digital</p>
                <p class="element">Robótica Avanzada</p>
                <p class="element">Análisis de Datos</p>
                <p class="element">Inteligencia Artificial</p>
                <p class="element">Gestión de Proyectos</p>
            </div>
          </div>
    </div>

    <div class="contenido-principal">

        <!-- Encabezados -->
        <div class="encabezado-cursos">
            <h1>Hola, bienvenido a nuestros cursos</h1>
            <div class="busqueda">
                <input type="text" placeholder="Buscar" class="barra-busqueda"/>
                <i class="fas fa-search icono-busqueda"></i>
            </div>
        </div>

        <!-- Cursos -->
        <div class="contenedor-cursos">
            <section id="programacion">
                <!-- Curso C# -->
                <div class="curso">
                    <img class="image" src="/cursos/csharp.jpg">

                    <div class="content">
                        <a href="#">
                            <span class="title">
                                C# Curso Completo para ser programador .NET.
                            </span>
                        </a>

                        <p class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                            dolores, possimus pariatur animi temporibus nesciunt praesentium 
                        </p>

                        
                        <button class="buy-button">
                            <span class="button-text">Comprar</span>
                            <fa-icon class="button-icon" [icon]="iconoCarrito"></fa-icon>
                        </button>
                    </div>
                </div>

                <!-- Curso JAVA -->
                <div class="curso">
                    <img class="image" src="/cursos/java.png">

                    <div class="content">
                        <a href="#">
                            <span class="title">
                                Programación de Android desde cero con Java.
                            </span>
                        </a>

                        <p class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                            dolores, possimus pariatur animi temporibus nesciunt praesentium 
                        </p>

                        
                        <button class="buy-button">
                            <span class="button-text">Comprar</span>
                            <fa-icon class="button-icon" [icon]="iconoCarrito"></fa-icon>
                        </button>
                    </div>
                </div>

                <!-- Curso Phyton -->
                <div class="curso">
                    <img class="image" src="/cursos/python.jpg">

                    <div class="content">
                        <a href="#">
                            <span class="title">
                                Aprender Python 3, Django, Flask y Tkinter.
                            </span>
                        </a>

                        <p class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                            dolores, possimus pariatur animi temporibus nesciunt praesentium 
                        </p>

                        
                        <button class="buy-button">
                            <span class="button-text">Comprar</span>
                            <fa-icon class="button-icon" [icon]="iconoCarrito"></fa-icon>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


