.pagina-layout {
    display: grid;
    height: 100%;
    grid-template-columns: 17rem 1fr;
}

/* Panel de categorias */
.categorias {
    width: 100%;
    font-weight: 600;
    font-size: 1.2em;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.categorias span {
    margin-bottom: 1em;
    font-size: 1.2em;
}
.element {
    color: #5f5f5f;
    font-size: .8em;
    padding: 5px 15px;
    border-left: 2px solid grey;
    cursor: pointer;
    margin-bottom: .7em;
}
.active {
    background-color: #0073e6;
    border-left: 0;
    padding: 10px 15px;
    color: white;
}
.element:hover:not(.active) {
    color: #3775bb;
}

.contenido-principal {
    padding: 1em 2.5em;
    background-color: white;
}

/* Encabezados */
.encabezado-cursos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

/* Barra de busqueda */
.busqueda {
    display: flex;
    align-items: center;
    position: relative;
}
.busqueda input {
    width: 0;
    height: 44px;
    padding: 0 20px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}
.busqueda:hover .barra-busqueda {
    width: 240px;
}

.icono-busqueda {
    background: #0073e6;
    color: white;
    width: 52px;
    height: 50px;
    font-size: 1.3em;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3px;
    right: 0;
}
.contenedor-cursos section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.curso {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.07);
    
}

.curso a {
    text-decoration: none
}

.content {
    padding: 1.1rem;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
}

.title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
}

.action span {
    transition: .3s ease;
}

.action:hover span {
    transform: translateX(4px);
}



.buy-button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #0459ad; /*oscuro*/
    background-color: #0073e6; /*el mas claro*/
    overflow: hidden;
    
}

.buy-button, .button-icon, .button-text {
    transition: all 0.3s;
}

.buy-button .button-text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
}

.buy-button .button-icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #0459ad; /*oscuro*/
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-button:hover {
    background: #0459ad; /*oscuro*/
}

.buy-button:hover .button-text {
    color: transparent;
}

.buy-button:hover .button-icon {
    width: 148px;
    transform: translateX(0);
}

.buy-button:active .button-icon {
    background-color: #06498b; /*los mas oscuros*/
}

.buy-button:active {
    border: 1px solid #06498b;  /*los mas oscuros*/
}