<nav>
    <ul>
        <li>
            <a routerLinkActive="active" routerLink="/inicio">Inicio</a>
        </li>
        <li class="submenu">
            <a routerLinkActive="active" routerLink="/informacion">Quienes Somos</a>
            <ul>
                <li><a routerLink="/informacion">Sobre el proyecto</a></li>
                <li><a routerLink="/informacion">Misión y Visión</a></li>
                <li><a routerLink="/informacion">Valores</a></li>
                <li><a routerLink="/informacion">Noticias</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a routerLinkActive="active" routerLink="/cursos">Cursos</a>
            <ul>
                <li><a routerLink="/cursos">Categorías</a></li>
                <li><a routerLink="/cursos">Nuevos Cursos</a></li>
                <li><a routerLink="/cursos">Ver Curos</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a routerLinkActive="active" routerLink="/becas">Becas</a>
            <ul>
                <li><a routerLink="/becas">Requisitos</a></li>
                <li><a routerLink="/becas">Proceso</a></li>
                <li><a routerLink="/becas">Fechas Importantes</a></li>
                <li><a routerLink="/becas">Aplicar Hoy</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a routerLinkActive="active" routerLink="/contacto">Contáctanos</a>
            <ul>
                <li><a routerLink="/contacto">Estudiantil</a></li>
                <li><a routerLink="/contacto">Docentes</a></li>
                <li><a routerLink="/contacto">Nuestras Oficinas</a></li>
                <li><a routerLink="/contacto">Contratar Talento</a></li>
            </ul>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/portal">Acceso Portal</a>
        </li>
    </ul>
</nav>