<main class="container my-5">
    <section id="requisitos" class="my-5">
        <h2 class="text-center mb-4">Requisitos</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="requisito-item">
                    <h5 class="subtitle">Tener un CUM global de bachillerato mayor a 8.0.</h5>
                    <p>Se requiere que el estudiante haya obtenido un CUM global superior a 8.0 durante su
                        bachillerato. Este criterio asegura que el candidato haya mantenido un desempeño académico
                        destacado, demostrando su capacidad para enfrentar con éxito los desafíos de los programas
                        educativos superiores.</p>
                </div>
                <div class="requisito-item">
                    <h5 class="subtitle">Ser de escasos recursos económicos.</h5>
                    <p>El solicitante debe demostrar que proviene de un hogar con ingresos limitados, lo cual será
                        evaluado a través de un análisis socioeconómico, garantizando que las becas se otorguen a
                        quienes realmente lo necesitan.</p>
                </div>
                <div class="requisito-item">
                    <h5 class="subtitle">Ingresar los datos que solicitamos.</h5>
                    <p>El aspirante deberá completar todos los campos requeridos en el formulario de inscripción,
                        proporcionando la información necesaria para evaluar su elegibilidad de manera precisa y
                        oportuna.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../requisitos/notas.jpg" alt="Placeholder" class="img-fluid mb-4">
                <img src="../requisitos/recursos.jpg" alt="Placeholder" class="img-fluid mb-4">
                <img src="../requisitos/solicitud.jpg" alt="Placeholder" class="img-fluid mb-4">
            </div>
        </div>
    </section>


    <!-- Procesos Section -->
    <section id="procesos" class="my-5">
        <h2 class="text-center mb-4">Proceso de Aplicación</h2>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fas fa-user-plus"></i>Registro en línea
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Completa el formulario de registro en nuestra plataforma en línea.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fas fa-file-upload"></i> Envío de documentos
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Sube tus documentos personales y académicos a nuestra plataforma. Asegúrate de incluir toda
                        la información requerida. <br>
                        Documento a subir:<br>
                        --SUBA LOS CERTIFICADOS DE NOTAS-- <br>
                        --SUBA LA CONSTANCIA DE BUENA CONDUCTA-- <br>
                        --SUBA SU DOCUMENTO DE IDENTIDAD AMPLIADO A 150%-- <br>
                        --SUBA SU FOTOGRAFÍA EN JPG, PNG-- <br>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="fas fa-comments"></i> Entrevista personal
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Participa en una entrevista con nuestro equipo para evaluar tu motivación y aptitudes.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="fas fa-chart-bar"></i> Evaluación académica y socioeconómica
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Nuestro equipo revisará tu rendimiento académico y tu situación socioeconómica para
                        determinar la elegibilidad para la beca.
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Fechas Section -->
    <section id="fechas" class="my-5">
        <h2 class="text-center mb-4">Fechas Importantes</h2>
        <table class="table table-striped" style="font-size: 2.5vh;">
            <thead>
                <tr>
                    <th>Evento</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Apertura de Convocatoria</td>
                    <td>1 de Noviembre</td>
                </tr>
                <tr>
                    <td>Cierre de Convocatoria</td>
                    <td>15 de Diciembre</td>
                </tr>
                <tr>
                    <td>Entrevistas</td>
                    <td>10 - 20 de Enero</td>
                </tr>
                <tr>
                    <td>Resultados</td>
                    <td>1 de Febrero</td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- Aplicar Section -->

    <section id="aplicar" class="my-5">

        <h2 class="text-center mb-4">Aplicar a la Beca</h2>

        <form class="form">
            <p class="form-title">Envianos tus Datos para Conocer si Aplicas</p>

            <div class="input-container">
                <label for="nombre">Nombre Completo*</label>
                <input type="text" id="nombre" required>
            </div>

            <div class="input-container">
                <label for="email">Correo Electrónico*</label>
                <input type="email" id="email" required>
            </div>

            <div class="input-container">
                <label for="campus">Seleccione el Cursos donde Quiere Optar a una Beca*</label>
                <select id="campus" required>
                    <option value="">---</option>
                    <option value="Ingles">Ingles </option>
                    <option value="Informatica">Informatica </option>
                    <option value="DiseñoWeb">Deseño Web </option>
                </select>
            </div>

            <div class="input-container">
                <label for="certificados">Suba los Certificados de Notas</label>
                <input type="file" id="certificados" accept=".pdf,.doc,.docx" required>
            </div>

            <div class="input-container">
                <label for="conducta">Suba la Constancia de Buena Conducta</label>
                <input type="file" id="conducta" accept=".pdf,.doc,.docx" required>
            </div>

            <div class="input-container">
                <label for="documento">Suba su Documento de Identidad Ampliado al 150%</label>
                <input type="file" id="documento" accept=".pdf,.jpg,.png" required>
            </div>

            <div class="input-container">
                <label for="fotografia">Suba su Fotografía (JPG, PNG)</label>
                <input type="file" id="fotografia" accept=".jpg,.png" required>
            </div>

            <div class="text-center">
                <button type="submit" class="submit">Aplicar Ahora</button>
            </div>
        </form>

        
    </section>

</main>