.texto-principal {
    width: 70%;
}

/* Boton Amarillo */ 
button.btn-amarillo {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    transition: all 0.2s;
    padding: 10px 25px 10px 30px;
    border-radius: 100px;
    background-color: #0073e6;
    color: white;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 18px;
}

button.btn-amarillo:hover {
    background-color: #0066cc;
}

button.btn-amarillo > svg {
    color: white;
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

button.btn-amarillo:hover svg {
    transform: translateX(5px);
}

button.btn-amarillo:active {
    transform: scale(0.95);
}

/* Boton de enlace subrayado */ 
button.subrayado {
    font-size: 18px;
    color: #313131;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
  

button.subrayado:focus:after,
button.subrayado:hover:after {
    width: 105%;
    left: 0%;
}

button.subrayado:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #474747;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
