@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Paginia Inicio */
.inicio-layout {
    display: grid;
    height: 100%;
    grid-template-columns: 18rem 1fr 18rem;
}
.panel-lateral {
    padding: 1.5rem;
}

/* Login */
.login {
    background-color: #cfe9ff;
    border-radius: 10px;
    padding: 20px 15px 27px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.login h4 {
    text-align: center;
    color: #0073e6;
    font-size: 0.9em;
    margin-bottom: 20px;
}
.formulario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
}
.formulario {
    margin-bottom: 1.5em;
}
.btn {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s;
}
.green {
    background-color: #4CAF50;
}
.green:hover {
    background-color: #45a049;
}
.orange {
    background-color: #ffa53f;
}
.orange:hover {
    background-color: #df9037;
}

/* Noticias */
.noticias {
    text-align: center;
}
.noticias h2 {
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
}
.noticias hr {
    margin: 1.5em 0;
}
.noticia {
    text-align: start;
}
.noticia h3 {
    cursor: pointer;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.noticia p {
    font-size: 15px;
}
.ver-mas {
    margin-top: 1.5em;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
.ver-mas:hover {
    background-color: #0056b3;
}

/* Contenido Principal */
.contenido-principal {
    background-color: white;
    text-align: center;
    padding: 6dvh 2rem 8dvh;
}
.contenido-principal h1 {
    font-size: 3rem;
    margin-bottom: 4dvh;
}
.contenido-principal p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1em;
    margin-bottom: 5dvh;
}
.botones-principales {
    display: flex;
    justify-content: center;
    gap: 2em;
}

/* Botones */
.btn-info {
    font-size: 18px;
    color: #313131;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
.btn-info:focus:after,
.btn-info:hover:after {
    width: 110%;
    left: -5%;
}
.btn-info:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #474747;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.btn-cursos {
    cursor: pointer;
    background-color: #0073e6;
    color: white;
    padding: 11px 25px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.2s;
}
.btn-cursos:hover {
    background-color: #0066cc;
}
.btn-cursos:active {
    transform: scale(0.95);
}
.icono-flecha {
    font-size: 25px;
    transition: transform 0.3s ease-in-out;
}
.icono-flecha:hover {
    transform: translateX(5px);
}

/* Carrusel */
.carousel {
    margin-top: 12dvh;
}

.flecha-carrusel {
    font-size: 2em;
    color: black;
    opacity: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all ease-in-out 100ms;
}
.izquierda {
    margin-right: 1.5em;
}
.derecha {
    margin-left: 1.5em;
}

#carouselExampleDark button.carousel-control-prev,
#carouselExampleDark button.carousel-control-next
{
    color: black;
    opacity: 50%;
}

#carouselExampleDark button.carousel-control-prev:hover,
#carouselExampleDark button.carousel-control-next:hover
{
    color: black;
    opacity: 80%;
}