<div class="inicio-layout">
    <div class="panel-lateral derecho">
        <!-- Login -->
        <div class="login">
            <h4>ACCEDER AL PORTAL</h4>
            <div class="formulario">
                <input class="form-control" type="email" placeholder="Correo electrónico" required>
                <input class="form-control" type="password" placeholder="Contraseña" required>
                <button class="btn green" type="submit">Inicia Sesión</button>
            </div>
            <hr>
            <h4>CREAR CUENTA</h4>
            <button class="btn orange" type="submit" routerLink="/registro">Registrarte</button>
        </div>
    </div>

    <div class="contenido-principal">
        <h1>Conoce el Proyecto</h1>
        <p class="fw-normal text-muted">
            Somos una innovadora plataforma de aprendizaje diseñada para formar a jóvenes talentos en diversas áreas, como inglés, informática y electrónica.
        </p>
        <div class="botones-principales">
            <!-- Boton 1 -->
            <button class="btn-info" routerLink="/informacion">Más Información</button>
    
            <!-- Boton 2 -->
            <button class="btn-cursos" routerLink="/cursos">
                <span>Nuestros Cursos</span>
                <fa-icon [icon]="flechaBoton" class="icono-flecha"></fa-icon>
            </button>
        </div>

        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>

        <!-- Slider -->
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="7000">
                    <a href="#"><img src="/banners/banner-1.jpeg" class="d-block w-100"></a>
                </div>
                 
                <div class="carousel-item" data-bs-interval="7000">
                    <a href="#"><img src="/banners/banner-2.jpeg" class="d-block w-100"></a>
                    
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <fa-icon [icon]="btnCarruselIzq" class="flecha-carrusel izquierda"></fa-icon>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <fa-icon [icon]="btnCarruselDer" class="flecha-carrusel derecha"></fa-icon>
            </button>
        </div>
    </div>
    
    <div class="panel-lateral izquierdo">
        <!-- Noticias -->
        <div class="noticias">
            <h2>Noticias Destacadas</h2>
            <div class="noticia">
                <a href=""><h3>Encuentro con comitiva</h3></a>
                <p>Dicta porro provident eum dolores tempore similique, ea cum, laboriosam excepturi totam molestiae magni, atque pariatur est commodi.</p>
            </div>
            <hr>
            <div class="noticia">
                <a href=""><h3>Unidos para el Futuro</h3></a>
                <p>Laudantium pariatur repellat amet sequi quis hic ex iste commodi atque doloremque rem odio saepe incidunt, non aliquam voluptatum, corrupti maxime.</p>
            </div>
            <hr>
            <div class="noticia">
                <a href=""><h3>Noticias sobre economía</h3></a>
                <p>Suscipit neque asperiores magni molestias, impedit cupiditate illum. Facilis illo, asperiores sequi quisquam totam tempora quasi reiciendis minus vel pize.</p>
            </div>
            <button class="ver-mas">Más noticias</button>
        </div>
    </div>
</div>

