<div class="contendor-formulario">
    <form class="form">
        <p class="title">Registro </p>
        <p class="message">Crea una cuenta en GEMA. Es Gratis.</p>
            <div class="flex">
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Nombres</span>
            </label>
    
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Apellidos</span>
            </label>
        </div>  
                
        <label>
            <input required="" placeholder="" type="email" class="input">
            <span>Correo</span>
        </label> 
            
        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Contraseña</span>
        </label>
        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Confirmar Contraseña</span>
        </label>
        <button class="submit">Enviar</button>
        <p class="signin mt-3">Ya tiene una cuenta? <a href="#">Iniciar Sesion</a> </p>
    </form>
</div>
