@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Bree+Serif&family=Hi+Melody&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

header {
    background-color: #0073e6;
    color: white;
    padding: 8px 80px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 180px;
    cursor: pointer;
}
.nombre {
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.3em;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 
        2px 2px 0 rgba(0, 0, 0, 0.7),
        4px 4px 0 rgba(0, 0, 0, 0.5),
        6px 6px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}
header h1:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
header h3 {
    color: black;
    padding-top: 7px;
    font-size: 1.1em;
    font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.opciones {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

button.btn {
    padding: 10px 30px;
    transition: ease-out 300ms;
    font-weight: 500;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 17px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}
  
  
  
.button svg path {
transition: 400ms;
}

.button:hover {
background-color: transparent;
}



.button:hover svg path {
fill: #181717;
}