header {
    background-color: #0073e6;
    color: white;
    padding: 13px 80px;
    display: flex;
    justify-content: space-between;
}
header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 
        2px 2px 0 rgba(0, 0, 0, 0.7),
        4px 4px 0 rgba(0, 0, 0, 0.5),
        6px 6px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}
header h1:hover {
    cursor: pointer;
    transform: translateX(2px);
}
header h3 {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: black;
    padding-top: 7px;
}
header img {
    width: 150px;
}
.empresa, .opciones {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

button.btn {
    padding: 10px 30px;
    transition: ease-out 300ms;
    font-weight: 500;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 17px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}
  
  
  
.button svg path {
transition: 400ms;
}

.button:hover {
background-color: transparent;
}



.button:hover svg path {
fill: #181717;
}