<main class="container my-5">
    <section id="contacto" class="row">
        <h2 class="text-center mb-4">Contactanos</h2>
        <div class="col-md-6 seccion-formulario">
            <form class="form">
                <div class="flex">
                    <label>
                        <input required placeholder=" " type="text" class="input">
                        <span>Nombre</span>
                    </label>
                    <label>
                        <input required placeholder=" " type="text" class="input">
                        <span>Apellido</span>
                    </label>
                </div>

                <label>
                    <input required placeholder=" " type="email" class="input">
                    <span>Email</span>
                </label>

                <label>
                    <input required type="tel" placeholder=" " class="input">
                    <span>Número de contacto</span>
                </label>

                <label>
                    <textarea required rows="3" placeholder=" " class="input01"></textarea>
                    <span>Mensaje</span>
                </label>

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
              <img src="/requisitos/walter.jpg" class="img">
              <div class="servicio-cliente d-flex">
                  <p>Servicio Al Cliente</p>
              </div>
              <p class="info">Soy Walter, un profesional dedicado al servicio al cliente. Mi objetivo es brindar
                soluciones efectivas y personalizadas.</p>
              <div class="share">
              </div>
              <button class="btn btn-secondary">Contactar</button>
            </div>
          </div>
    </section>
</main>