<section id="sobre-nosotros" class="container">
    <div class="titulos">
        <div class="seccion">
            <h1>¿Quiénes Somos?</h1>
            <p class="text-muted">
                PREOYECTO GEMA una plataforma dedicada a la educación técnica en línea, comprometida con empoderar a los estudiantes a través de una oferta diversa y relevante de cursos. Nuestro objetivo es facilitar el acceso a formación de alta calidad que responda a las demandas del mercado laboral en El Salvador y más allá.
            </p>
        </div>
    </div>
    
    <div class="titulos">
        <div class="seccion">
            <h1>¿Cómo surge el proyecto GEMA?</h1>
            <p class="text-muted">
                Surge de una observación clara y crítica de la situación educativa y laboral en El Salvador. Se percibe una brecha significativa entre la educación técnica disponible y las necesidades reales del mercado laboral. A pesar de la existencia de instituciones como INFOPRO, que ofrecen cursos técnicos, se identifica una falta de enfoque en la integración de la educación con las oportunidades laborales reales.
            </p>
        </div>
    </div>
</section>

<div class="contenedor-tarjetas">
    <div class="tarjeta1">
        <div class="tarjeta">
            <div class="content">
                <h3>Misión</h3>
                <p class="para">
                    Proporcionar a los usuarios una plataforma de aprendizaje y desarrollo profesional con una completa opciones de cursos técnicos en línea, para que puedan desarrollarse en el entorno laboral, y así poder contribuir al desarrollo económico y social del país.
                </p>
            </div>
        </div>
    </div>
    <div class="tarjeta2">
      <div class="tarjeta">
        <div class="content">
            <h3>Visión</h3>
          <p class="para">
            Ser una plataforma de aprendizaje técnico en línea, reconocida por su excelencia en la formación de cursos digitales que preparara a los usuarios para el actual mercado laboral del País.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="titulo-valores">
    <h1>Valores</h1>
    <p>En nuestra cooperativa nos guiamos por un conjunto de valores fundamentales que fomentan el crecimiento integral de nuestros estudiantes y comunidad.</p>
</div>


<div class="contenedor-valores">
    <div class="card">
        <img src="/valores/amor.png" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title">Amor</h2>
          <p>Fomentamos el compromiso y la dedicación hacia el aprendizaje y el desarrollo de nuestras comunidades.</p>
        </div>
    </div>
    
    <div class="card">
        <img src="/valores/honestidad.png" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title">Honestidad</h2>
          <p>Promovemos la transparencia y la verdad en todas nuestras acciones y relaciones.</p>
        </div>
    </div>
    
    <div class="card">
        <img src="/valores/respeto.png" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">Respeto</h2>
            <p>Valoramos las diferencias y fomentamos la convivencia basada en el reconocimiento mutuo.</p>
        </div>
    </div>
    
    <div class="card">
        <img src="/valores/solidaridad.png" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">Solidaridad</h2>
            <p>Trabajamos en equipo para apoyar el crecimiento conjunto y el bien común.</p>
        </div>
    </div>
    
    <div class="card">
        <img src="/valores/justicia.png" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">Justicia</h2>
            <p>Garantizamos equidad y trato justo en nuestras decisiones y procesos.</p>
        </div>
    </div>
    
    <div class="card">
        <img src="/valores/responsabilidad.png" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">Responsabilidad</h2>
            <p>Asumimos con seriedad nuestras obligaciones hacia los estudiantes y la comunidad.</p>
        </div>
    </div>
    
    <div class="card">
        <img src="/valores/tolerancia.png" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">Tolerancia</h2>
            <p>Aceptamos diversas opiniones, promoviendo un entorno inclusivo y respetuoso.</p>
        </div>
    </div>
    
    <div class="card">
        <img src="/valores/humildad.png" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">Humildad</h2>
            <p>Reconocemos nuestras limitaciones y estamos dispuestos a aprender de los demás.</p>
        </div>
    </div>
    
    <div class="card">
        <img src="/valores/generosidad.png" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">Generosidad</h2>
            <p>Compartimos conocimientos y recursos para el bienestar de todos.</p>
        </div>
    </div>
    
    <div class="card">
        <img src="/valores/empatia.png" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">Empatia</h2>
            <p>Nos esforzamos por comprender y apoyar las necesidades de cada individuo.</p>
        </div>
    </div>
</div>


