<div class="contenedor-portal">
    <div class="panel-izquierdo">
        <section id="sidebar">
            <div class="card mb-3">
                <div class="card-header">
                    Actividades Pendientes
                </div>
                <div class="card-body">
                    <p class="card-text">Actividad desde martes, 8 de octubre de 2024, 16:36</p>
                    <a href="#" class="card-link">Informe completo de la actividad reciente...</a>
                    <p class="card-text"><strong><br>Sin actividad reciente</strong></p>
                </div>
            </div>
    
            <div class="card mb-3">
                <div class="card-header">
                    Avisos Recientes
                </div>
                <div class="card-body">
                    <p class="card-text">(Aún no se han publicado noticias.)</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    Preguntas en Foros
                </div>
                <div class="card-body">
                    <p class="card-text">(Aún no se han publicado preguntas.)</p>
                </div>
            </div>
        </section>
    </div>

    <div class="contenido-principal">
        <h3 class="text-center mb-5">Calendario de actividades</h3>
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
    <div class="panel-derecho text-center">
        <h3 class="mb-4">Area Personal</h3>
        <button class="btn btn-primary px-3">Unirse a Clase</button>
    </div>
</div>